# SecondMe OAuth2 配置
SECONDME_CLIENT_ID=526d9920-c43c-4512-917d-5f59f706f087
SECONDME_CLIENT_SECRET=8e0aa63b7b57776a1f6c6600d411a452ce24124b6f7f187a6d6aa50c636d1d08
SECONDME_REDIRECT_URI=http://localhost:3000/api/auth/callback

# SecondMe API（以下为固定值，一般不需要改）
SECONDME_API_BASE_URL=https://app.mindos.com/gate/lab
SECONDME_OAUTH_URL=https://go.second.me/oauth/
SECONDME_TOKEN_ENDPOINT=https://app.mindos.com/gate/lab/api/oauth/token/code
